{% extends 'base.html' %}
{% block title %}Django Blog - {{ user.username }}{% endblock title %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8">
            <div class="shadow-lg p-3 mb-5 mt-5 bg-white rounded">
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-3">
                        <img src="{{ user.profile.image.url }}" alt="Profile Image" class="rounded-circle" width="100" height="100">
                    </div>                
                    <div class="col-lg-10 col-md-9 col-sm-9">
                        <h2>{{ user.username }}</h2>
                        <p class="text-secondary">{{ user.email }}</p>
                    </div> 
                </div> 
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="shadow-lg p-3 mb-5 mt-5 bg-white rounded">
                <div class="text-center">
                    <img src="/static/images/head.png" alt="Head" class="head-img">
                    <hr>
                    <h5>Terms & Conditions</h5>
                    <ol>
                        <li>
                        Registration is not required to use this website. However, in order to post on this website,
                        you will need to create an account and sign in. 
                        </li>
                        <li>
                        If you do create an account, we will collect information such as your email address. 
                        <strong>We will not share this information with anyone.</strong>
                        </li>
                        <li>
                        No profanity, threatening language, or NSFW content is allowed to be posted on this website, if any such language or content exists, it will
                        be removed and the account associated with the language or content deleted.
                        </li>
                    </ol>
                    <hr>
                    {% if user.is_authenticated %}
                        <p class="mt-3"><a href="{% url 'profile' %}"><strong>Profile</strong></a> or <a href="{% url 'logout' %}"><strong>Logout</strong></a></p>
                    {% else %}
                        <p class="mt-3"><a href="{% url 'login' %}"><strong>Login</strong></a> or <a href="{% url 'register' %}"><strong>Register</strong></a> Today</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}

